<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/topnav.css' %}" />
    <title>Decision Tree</title>
</head>
<body>

    <nav class="navbar">
    
    <!-- LOGO -->
    
    <div class="logo">MUO</div>
    
    <!-- NAVIGATION MENU -->
    
    <ul class="nav-links">
    
    {% comment %} <!-- USING CHECKBOX HACK -->
    
    <input type="checkbox" id="checkbox_toggle" />
    
    <label for="checkbox_toggle" class="hamburger">&#9776;</label> {% endcomment %}
    
    <!-- NAVIGATION MENUS -->
    
    <div class="menu">
    
    <li><a href="/">Home</a></li>
    
    <li><a href="/">About</a></li>
    
    <li class="services">
    
    <a href="/">Services</a>
    
    <!-- DROPDOWN MENU -->
    
    <ul class="dropdown">
    
    <li><a href="/">Dropdown 1 </a></li>
    
    <li><a href="/">Dropdown 2</a></li>
    
    <li><a href="/">Dropdown 2</a></li>
    
    <li><a href="/">Dropdown 3</a></li>
    
    <li><a href="/">Dropdown 4</a></li>
    
    </ul>
    
    </li>
    
    <li><a href="/">Pricing</a></li>
    
    <li><a href="/">Contact</a></li>
    
    </div>
    
    </ul>
    
    </nav>
    
</body>

{% comment %} <body>
<div class = "margin">
    <div class = "padding">
        <p>Studymart</p>
    </div>
</div>    
<div class="border">

</div>
</body> {% endcomment %}
</html> 