{% extends 'common_code/base.html' %}
{% block title %} KNN {% endblock title %}
{% block alert %} This is KNN page {% endblock alert %}


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/knn.css' %}" />
    <title>Knn</title>
</head>
<body>
    <table width = "500" border="2px" align="center">
        <tr class="thead">
            <th> Teacher's Name</th>
            <th> Course</th>
            <th> Class</th>
            <th> Duration</th>
        </tr>

        <tr align="center">
            <td>Shakil</td>
            <td>Machine Learing</td>
            <td>21</td>
            <td>2.5</td>
        </tr> 

        <tr align="center">
            <td>Mesba</td>
            <td>Deep Learing</td>
            <td>20</td>
            <td>2.5</td>
        </tr>

        
        <tr align="center">
            <td>Data analysis</td>
            <td>Deep Learing</td>
            <td>18</td>
            <td>2.5</td>
        </tr> 
    </table>
</body>
</html>